@font-face {
  font-family: norse-bold;
  src: url(Fonts/Kool\ Baby.ttf);
}

body {
  margin: 0;
  background-color: #F9FAFB;
  display: flex;
  flex-direction: row;
  font-family: Helvetica, Arial, sans-serif;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: white;
  background: url(Images/left-side-img.jpg);
  background-size: cover;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25%;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgb(0, 0, 0, 0.4);
  font-size: 4em;
  font-family: norse-bold;
  gap: -50px;
} 

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  font-size: smaller;
}

.footer a {
  text-decoration-line: underline;
  text-decoration-color: #F9FAFB;
  color: #F9FAFB;
  padding-left: 0.4em;
  padding-right: 0.4em;
  
}

.right-side {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 67%;
  align-items: center;
}

.sign-up-prompt {
  font-size: x-large;
  text-align: start;
  margin-left: 50px;
  margin-top: 10%;
  margin-right: 20%;
  margin-bottom: 50px;
  font-weight: bolder;
  line-height: 1.5em;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px darkgray;
  padding-left: 50px;
}

#lets-do-this {
  font-size: x-large;
  font-weight: bold;
  line-height: 1.5em;
  color: rgb(39, 39, 39);
}

.group-of-boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.sign-up-box {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 30px;
  margin-right: 80px;
  font-family: 'Courier New', Courier, monospace;
}

.sign-up-box input {
  height: 25px;
  border-color: rgb(201, 201, 201);
  border-radius: 5px;
  border-width: 2px;
  padding-left: 10px;
  outline: none;
}

.sign-up-box input:hover:valid {
  border-color:#4A84C4;
}

.sign-up-box input:focus:valid {
  background-color: #aac2dd;
}

.sign-up-box input:hover:invalid {
  border-color: orangered;
}

.sign-up-box input:focus:invalid {
  background-color: rgb(255, 181, 154);
  outline-width: 3px;
}

.submit-form {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 40px;
}

.submit-button {
  margin-left: 5px;
}

.submit-button button {
  height: 60px;
  width: 250px;
  background-color: orangered;
  color: whitesmoke;
  border-style: none;
  border-radius: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  font-weight: bold;
}

.log-in-link a {
  color: #4A84C4;
  text-decoration-line: none;
}